# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# Windows
Thumbs.db

# Gradle
/.gradle
/build/
/node_modules/
/src/main/webapp/assets/bower/

# Debug
/archive/
/opendct*.log*
/opendct.properties
/opendct.properties.backup
/lineup/
/target/