/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 75px;
    background-color: #333;
    color: #FFFFFF;
}

/* Some content needs to be hidden before anything or the page will look incorrect */
.content-page {
    display: none;
}


.text-conflict {
    color: #ffff00 !important;
}

.background-error {
    background-color: #d9534f !important;
}

.background-locked {
    background-color: #4d1300 !important;
}

/* Global defaults to match the SageTV web interface. */
a {
	color: #FFFFFF;
	text-decoration:none;
}

a:visited {
	color: #FFFFFF;
	text-decoration:none;
}

a:hover {
	color: #ffd800;
	text-decoration:none;
}

a:focus {
	color: #ffd800;
	text-decoration:none;
}

/* Table formatting */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #333;
    color: #FFFFFF;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #414141;
    color: #FFFFFF;
}

.table th, .table td {
     border-top-color: #222 !important;
}

table.table thead tr th {
	background-color: #666;
	color: #FFFFFF;
	border-bottom-color: #222 !important;
}

table.table tfoot tr th {
    background-color: #333;
	color: #FFFFFF;
}

/* Form formatting */
.centerCell {
    display: table !important;
    margin: 0 auto !important;
}

.form-control {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
