<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>opendct.jetty.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/opendct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Json</servlet-name>
        <servlet-class>opendct.jetty.json.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Json</servlet-name>
        <url-pattern>/opendct/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SageTVManager</servlet-name>
        <servlet-class>opendct.jetty.SageTVManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SageTVManager</servlet-name>
        <url-pattern>/opendct/sagetvmanager</url-pattern>
    </servlet-mapping>
</web-app>